.cardsWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  padding-bottom: 160px;
}

.addCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 236px;
  height: 236px;
  background: linear-gradient(#ff8ebd, #ffd2c1);
  margin: 4px;
  padding: 8px;
  cursor: pointer;
  img {
    width: 100px;
  }
}
