.mainContainer {
  text-align: center;
  height: 100vh;
  background-image: url("./palms.jpg");
  background-size: cover;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .mainBanner {
    background: #fffffff0;
    width: 320px;
    height: 80px;
    font-size: 40px;
    margin-top: 30px;
    padding: 20px 0 10px 0;
    border: 10px double #737373;
    margin-bottom: 20px;
    img {
      width: 206px;
    }
  }
}
