.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 236px;
  height: 236px;
  background: white;
  margin: 4px;
  padding: 8px;
  cursor: pointer;
}
