.searchBar {
  width: 240px;

  input {
    height: 32px;
    border-radius: 20px;
    width: 160px;
    font-size: 18px;
    padding: 8px;
    box-sizing: border-box;
    background: linear-gradient(#ff8ebd, #ffd2c1);
  }
}
